.details {
	margin-block-start: var(--space-s);

	summary {
		list-style: none;
	}

	summary:is(.details[open] > *) {
		padding-block-end: var(--space-m);
		border-block-end: dashed 1px var(--color-primary-outline-m);
	}

	summary + * > *:first-child {
		margin-block-start: var(--space-m);
	}

	button:is(summary *) {
		display: flex;
		column-gap: var(--space-xs);
		align-items: center;
		padding: var(--space-xs) var(--space-s);
		font-size: var(--font-size-xs);
		color: var(--color-primary-text-h);
		cursor: pointer;
		background-color: var(--color-primary-container-l);
		border: none;
		border-radius: var(--border-radius-pill);
	}

	@media (hover: hover) {
		button:is(summary > *):hover {
			background-color: var(--color-primary-container-m);
		}
	}

	button:is(summary > *):active {
		background-color: var(--color-primary-container-h);
	}

	svg:is(summary > button > *) {
		--size: var(--font-size-l);

		width: var(--size);
		height: var(--size);
	}
}
