---
import { getCollection, render } from "astro:content";
import Blockquote from "../../components/posts/Blockquote.astro";
import CodeBlock from "../../components/posts/CodeBlock.astro";
import Details from "../../components/posts/Details.astro";
import Heading from "../../components/posts/Heading.astro";
import Link from "../../components/posts/Link.astro";
import { formatDate } from "../../utils/formatDate";
import Layout from "../_pages.astro";

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const date = formatDate(post.data.publishedDate);

const components = {
    h2: Heading,
    h3: Heading,
    h4: Heading,
    pre: CodeBlock,
    a: Link,
    blockquote: Blockquote,
    details: Details,
};
---

<Layout title={post.data.title} type="article">
    <h1>{post.data.title}</h1>
    <p>{date}</p>
    <Content components={components} />
</Layout>
