---
import { getCollection, render } from "astro:content";
import { formatDate } from "../../shared/formatDate";
import Layout from "../_pages.astro";

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const date = formatDate(post.data.publishedDate);
---

<Layout title={post.data.title} type="article">
    <h1>{post.data.title}</h1>
    <p>{date}</p>
    <Content />
</Layout>
