---
import { getCollection } from "astro:content";
import { formatDate } from "../../utils/formatDate";
import Layout from "../_pages.astro";

const posts = (await getCollection("posts")).filter(
    (post) => post.data.hide !== true,
);

const sortedPosts = posts.sort((a, b) => {
    const aDate = new Date(a.data.publishedDate);
    const bDate = new Date(b.data.publishedDate);
    return bDate.getTime() - aDate.getTime();
});
---

<Layout title="posts">
    <h1>ポスト一覧</h1>
    <ul>
        {
            sortedPosts.map((post) => {
                const date = formatDate(post.data.publishedDate);
                return (
                    <li>
                        <a href={`/posts/${post.id}`}>
                            <time datetime={date}>{date}</time>
                            <h2>{post.data.title}</h2>
                        </a>
                    </li>
                );
            })
        }
    </ul>
</Layout>
