---
import { getCollection } from "astro:content";
import PostsOgImagePng from "../../assets/posts-og-image.png";
import PostList from "../../components/PostList.astro";
import NavLink from "../../components/navigation/NavLink.astro";
import Layout from "../_pages.astro";

const posts = (await getCollection("posts")).filter(
    (post) => post.data.hide !== true,
);

const sortedPosts = posts.sort((a, b) => {
    const aDate = new Date(a.data.publishedDate);
    const bDate = new Date(b.data.publishedDate);
    return bDate.getTime() - aDate.getTime();
});
---

<Layout title="書いたもの" ogImageSrc={PostsOgImagePng.src}>
    <NavLink href="/" text="ホーム" direction="back" />
    <h1>書いたもの</h1>
    <PostList posts={sortedPosts} />
</Layout>
