---
import { getCollection } from "astro:content";
import WorksOgImagePng from "../../assets/works-og-image.png";
import WorkList from "../../components/WorkList.astro";
import NavLink from "../../components/navigation/NavLink.astro";
import Layout from "../../layouts/baseLayout.astro";

const works = (await getCollection("works")).filter(
    (work) => work.data.hide !== true,
);

const sortedWorks = works.sort((a, b) => {
    const aDate = new Date(a.data.publishedDate);
    const bDate = new Date(b.data.publishedDate);
    return bDate.getTime() - aDate.getTime();
});
---

<Layout title="作ったもの" ogImageSrc={WorksOgImagePng.src}>
    <NavLink href="/" text="ホーム" direction="back" />
    <h1>作ったもの</h1>
    <WorkList works={sortedWorks} />
</Layout>
