---
import type { Props } from "../../layouts/baseLayout.astro";
// import Breadcrumbs from "./Breadcrumbs.astro";
---

<footer>
    <div class="footer-wrapper">
        <ul>
            <li><a class="footer-nav-link" href="/"><h4>ホーム</h4></a></li>
            <li>
                <a class="footer-nav-link" href="/posts"><h4>書いたもの</h4></a>
            </li>
            <li>
                <a class="footer-nav-link" href="/works"><h4>作ったもの</h4></a>
            </li>
        </ul>
        <p class="legal">
            このサイトの内容は
            <a
                href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja"
                target="_blank"
                rel="noopener noreferrer"
            >
                CC BY-NC-SA 4.0
            </a>
            の下で提供されています。詳しくは
            <a href="/posts/legal">規約</a>
            をご覧ください。また、 GitHubで
            <!-- @TODO: 公開後にソースを置き換え -->
            <a href="/" target="_blank" rel="noopener noreferrer"
                >サイトのソース</a
            >
            を公開しています。
        </p>
    </div>
</footer>

<style>
    footer {
        width: 100%;
        margin-block-start: calc(var(--space-xxl) * 2);
    }

    div.footer-wrapper {
        width: var(--width-footer);
        padding-block: var(--space-xxl) var(--space-xl);
        padding-inline: var(--space-xs);
        margin-inline: auto;
        border-block-start: solid 1px var(--color-primary-outline-h);
    }

    a.footer-nav-link {
        color: var(--color-primary-text-h);
        text-decoration-color: transparent;
    }

    @media (hover: hover) {
        a.footer-nav-link:hover {
            text-decoration-color: currentcolor;
        }
    }

    p.legal {
        margin-block-start: var(--space-l);
        font-size: var(--font-size-xs);
        color: var(--color-primary-text-l);
        text-align: left;
        word-break: auto-phrase;
        text-wrap: pretty;

        a {
            color: inherit;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: var(--space-m);
        padding-inline-start: 0;
        margin-block-start: 0;
    }

    li {
        width: max-content;
        list-style: none;
    }

    h4 {
        display: flex;
        font-family: var(--font-sans-variant);
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-jp-s);
        word-break: auto-phrase;
        text-wrap: pretty;
    }
</style>
