button.copy-button {
	display: flex;
	align-items: center;
	justify-content: end;
	min-width: calc(10ch + var(--space-m)); /* 10 = string length of `copied url` */
	height: max-content;
	padding: 4px 8px;
	padding: var(--space-s) var(--space-m);
	line-height: var(--line-height-none);
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-radius: var(--border-radius-pill);
	transition: translate 200ms, opacity 200ms, scale 100ms;
}

button.copy-button::Before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	background-color: inherit;
	border-radius: inherit;
	transition: translate 200ms;
}

button.copy-button[data-is-copied="true"]::before {
	translate: -2ic;
}

@media (hover: hover) {
	button.copy-button:hover {
		background-color: var(--color-primary-container-l);
	}
}

button.copy-button:active {
	background-color: var(--color-primary-container-m);
}

span:is(button.copy-button > *) {
	height: 100%;
	font-size: var(--font-size-m);
	user-select: none;
	transition: translate 200ms, opacity 200ms;
}

span:is(button.copy-button > *):first-of-type[data-is-copied="true"] {
	translate: -2ic;
}

span:is(button.copy-button > *):nth-of-type(2) {
	position: absolute;
	top: var(--space-s);
	opacity: 0;
}

span:is(button.copy-button > *):nth-of-type(2)[data-is-copied="true"] {
	opacity: 1;
}

span:is(button.copy-button > *):last-of-type[data-is-copied="true"] {
	opacity: 0;
}
